body{
    background-image: linear-gradient(to right, #f5f7fa 0%, #c3cfe2 100%);
}
    .container{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr; 
 grid-template-rows: repeat(auto,1fr);
 grid-template-areas: 
 "form form form"
 "content content content";
}

.container #showForm{
    grid-area: form;
    border: 2px solid black;
    border-radius: 12px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: 20%;
    margin: 0 auto;
    margin-bottom: 3px;
}

#form{

 grid-area: form;
 display: flex;
 flex-wrap: wrap;
 align-content: center;
 margin-bottom: 3px;
 padding-bottom: 2px;
 background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
 justify-self: center;
 border: 2px solid black;

}

#form #form-button{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
border-radius: 5px;
}

.form-row{
    display: flex;
    justify-content: flex-end;
}

.card{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px right;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.items{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(181px,1fr));
    grid-gap: 3px;

}

.card img {
    width: 100%;
}

.card-title{
    overflow: hidden;
    
    font-size: 2rem;
    text-align: center;
}

.card-description{
  text-align: center;
 word-break: break-all;

}

.card button{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    border: solid 2px black;
    }

.card .readButton{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 10px;
    width: 40%;
    margin: 3px auto;
    border: solid 2px black;    
}

.card-pages{

  text-align: center;
word-break: break-all;
}





